@charset "utf-8";
@import url('fonts.css');
/*
FONTS DISPONIVEIS

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top170{margin-top:170px !important;}
.top180{margin-top:180px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top195{margin-top:195px !important;}
.top210{margin-top:210px !important;}
.top235{margin-top:235px !important;}
.top285{margin-top:285px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}

.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px !important;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg10{padding: 10px !important;}
.pg20{padding: 20px !important;}

.container{width:1170px !important;}
.input100{width:100% !important;}

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400 !important;
	color: #000;
}

h1{
	font-size: 20px;
	font-weight: 700;
}



h1 span {


}

h2 {
	font-size: 25px;
	font-weight: 700;
}

h2 span{
	font-size: 15px;
	font-weight: 400;
}


h3{
	font-size: 40px;
	font-weight: 700;
}

h3 span{

}

h4 {
	font-size: 60px;
	font-weight: 700;
}



h5{
	font-size: 86px;
	font-weight: 700;
	line-height: 50px;
}

h5 span{
	font-size: 26px;
	font-weight: 300;
}

h6{
	/*
	color: #fff;
	font-weight: 400;
	text-shadow:1px 2px 5px #0f0f0f;*/
}

h6 span{

}



p{
	font-size: 17px;
	color: #000;
	text-align:justify;
	font-weight: 300;
}

p span{

}


.servicos_desc{
	text-align: center;
}

.topo-site {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.font-futura{font-family:futura__condensed;}

.lato_bold{
	font-family:"Lato Bold";}

	.MyriadPro_Regular{
		font-family:MyriadPro-Regular;}

		.lato_black{
			font-family:"Lato Black";
		}

		a:hover{
			text-decoration: none !important;
		}

		.media-left,
		.media-right,
		.media-body {
			vertical-align: middle !important;
		}

		.relativo{
			position: relative;
		}


		/*==================================================
		* COLOBOX PERSONALIZADO GROUPO4
		* ===============================================*/
		#cboxContent {background: none !important;}
		#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxBottomLeft,#cboxTopLeft,#cboxTopRight,#cboxBottomCenter,#cboxBottomRight {width: 0 !important;background: none !important;}
		#cboxSlideshow {color: #fff !important;}
		#cboxPrevious{left: 28px!important;}
		#cboxNext{left: 56px!important;}
		#cboxCurrent{left: 90px !important;}
		#cboxClose{right: 28px !important;}
		#cboxSlideshow{right: 60px !important;}
		/*==================================================
		* COLOBOX PERSONALIZADO GROUPO4
		* ===============================================*/

		input,
		select,
		textarea{
			min-height: 42px;
			color:#000;
			border-radius: 0 !important;
			font-size: 20px;
			font-weight: 400;
		}

		::-webkit-input-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		:-moz-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		::-moz-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		:-ms-input-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		.btn{
			border-radius: 0px;
		}


		.padding0{
			padding: 0px !important;
		}



		/*==================================================
		* Effect 2
		* ===============================================*/
		.effect2
		{
			position: relative;
		}
		.effect2:before, .effect2:after
		{
			z-index: -1;
			position: absolute;
			content: "";
			bottom: 15px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width:300px;
			background: #777;
			-webkit-box-shadow: 0 15px 10px #777;
			-moz-box-shadow: 0 15px 10px #777;
			box-shadow: 0 15px 10px #777;
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-3deg);
		}
		.effect2:after
		{
			-webkit-transform: rotate(3deg);
			-moz-transform: rotate(3deg);
			-o-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			transform: rotate(3deg);
			right: 10px;
			left: auto;
		}




		/**
		============================================
		TOPO
		============================================
		*/

		.topo{
			border-top: 3px solid  #f16138;
		}


		.carrinho{
			position: relative;
		}

		.btn_topo{
			padding: 0;
		}


		.btn_carrinho{
			background: #fff !important;
			-webkit-appearance: inherit !important;
		}



		.btn .badge{
			position: absolute;
			top: 7px;
			right: 47px;
			background: #000;
			color: #fff;
			font-size: 15px;
			text-align: center;
			font-family:"Lato Black";
			padding: 8px;
			height: 30px;
			border-radius: 0;
		}


		.btn_orcamento{
			background: #102e41;
			color: #fff;
		}

		.btn_orcamento:hover{
			background: #162833;
			color: #fff;
		}

		.menu .navbar-nav > li > a {
			padding: 8px 20px;
			font-size: 20px;
			color: #000;
			font-weight: 400;
			margin-left: 10px;
		}


		.menu .nav>li>a:hover,
		.menu .nav>li>a:focus,
		.menu .nav li a.active {
			background: #fff;
			border-radius: 5px;

			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
			transition: color 0.3s;
			color: #000;
		}


		.topo-meu-cat{
			background:#354066 /*url(../imgs/sombra_cat.png) bottom center no-repeat*/;
			width:271px !important;
			border-radius: 0;
			padding:15px;
			margin: 0;
		}

		.topo-meu-cat h1{
			font-size: 15px;
			color: #fff;
		}

		.topo-meu-cat .list-group-item {
			text-decoration: none;
			background: none;
			border: inherit;
		}

		.topo-meu-cat .list-group-item:hover,
		.topo-meu-cat a.list-group-item:focus,
		.topo-meu-cat a.list-group-item.active {
			background-color: #3c4a73;
			color: #3c3834;
		}


		.topo-meu-orcamento{
			background:#fff;
			width:470px !important;
			margin-left: -173px;
			padding:15px;
		}


		.lista-itens-carrinho{
			margin: 10px 0px;
			overflow: hidden;
			border-bottom: 2px solid #e5e5e5;
			margin-bottom: 20px;
		}


		.lista-itens-carrinho h1{
			font-size: 16px !important;
			margin: inherit;
		}




		.bootstrap-select>.dropdown-toggle,
		.bootstrap-select>.dropdown-toggle:hover,
		.bootstrap-select>.dropdown-toggle.active,
		.bootstrap-select>.dropdown-toggle:focus {
			height: 45px;
			border: 1px solid #c8c8c8;
			border-radius: 0px;
			font-weight: 700;
			color: #000;
			font-size: 15px;
			background: none;
			width: 198px !important;
		}

		.filtro_produtos .bootstrap-select>.dropdown-toggle,
		.filtro_produtos .bootstrap-select>.dropdown-toggle:hover,
		.filtro_produtos .bootstrap-select>.dropdown-toggle.active,
		.filtro_produtos .bootstrap-select>.dropdown-toggle:focus {
			height: 45px;
			border: 1px solid #c8c8c8;
			border-radius: 0px;
			font-weight: 700;
			color: #000;
			font-size: 15px;
			background: none;
			width: 100% !important;
		}


		.bootstrap-select .dropdown-toggle:focus {
			outline: thin dotted #c8c8c8!important;
			outline: 1px auto -webkit-focus-ring-color!important;
			outline-offset: -2px;
		}



		/**
		============================================
		TOPO
		============================================
		*/
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		/* ------------------------------- BANNER  ------------------------------- */
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		#container_banner {
			width   :100%;
			height  :625px;
			margin  :0px auto;
			overflow:hidden;
			position: relative;
			margin-top: 0px;
			z-index: 1;
		}

		#content_slider {
			width      :1920px;
			position   :absolute;
			margin-left:-960px;
			top        :0px;
			left       :50%;
		}


		#content-slider-1 .rsContent{
			height: 100px;
			position: absolute;
			z-index: 1000;
			top: 100px;
		}

		#content-slider-1 .rsContent h1{
			font-size: 40px;
			color: #fff;
			font-family:"Lato Black";
			text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
		}

		#content-slider-1 .rsTabs {
			width: 0px;
			height: 0px;
			z-index: 9999;
			position: absolute;
			left: 396px;
			top: 460px;
			text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
		}

		#content-slider-1 .rsNavItem {
			background   : #fff;
			width        : 0px;
			opacity      : 0.4;
			height       : 25px;
			float        : left;
			margin-right : 10px;
			cursor       : pointer;
			border-radius: 50%;
			/*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/



		}

		#content-slider-1 .rsNavSelected {
			opacity  : 1;
			background: #fff;
			/*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/

		}


		/*arrow personalizados*/
		#container_banner .rsArrowLeft {
			display: block;
			width: 32px;
			height: 40px;
			background: url(../imgs/arrow_left.png) center no-repeat;
			z-index: 999;
			bottom: 164px;
			position: absolute;
			left: 375px;
		}

		#container_banner .rsArrowRight {
			display: block;
			width: 32px;
			height: 40px;
			background: url(../imgs/arrow_right.png) center no-repeat;
			z-index: 999;
			bottom: 164px;
			position: absolute;
			left: 420px;
		}
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		/* ------------------------------- BANNER  ---------------------------- */
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		/**/




		/**
		============================================
		rodape
		============================================
		*/

		.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}
		.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}








		.div_personalizada{
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}

		.rodape{
			background : #dfe5e8;
		}

		.rodape-preto{
			background :#000;
		}

		.rodape-preto h5{
			font-size  :20px;
			color      : #fff;
			font-weight: 300;
		}

		.endereco_rodape p{
			color: #000000;
			font-size    : 22px;
			font-weight: 400;
		}


		.telefone_rodape p{
			color: #000000;
			font-size    : 30px;
			font-weight: 400;
		}

		.telefone_topo p{
			font-size: 20px;
			font-weight: 700;
		}


		.menu_rodape li a {
			color        : #000000;
			font-size    : 20px;
			font-weight  : 400;
			margin-right : 30px;
		}

		.icon-rodape {
			color: #000000;
		}

		.menu_rodape li:hover a,
		.menu_rodape li.active a{
			font-weight: 700;
			color: #000;
		}


		.menu_rodape {
			list-style : none;
			padding    : 0px;
		}

		.barra_branca {
			border-bottom  : 1px solid #fff;
			padding-bottom : 40px;
		}

		.menu_rodape li {
			float: left;
		}


		/**
		============================================
		rodape
		============================================
		*/

		/**
		============================================
		HOME
		============================================
		*/
		#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators,#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators{top:-63px; right: 0px;}
		#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:0;height:0;background:#7f7f7f;border:none;margin-right:5px!important;}
		#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
		#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
		#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left{left:1046px;top:90px;width:25px;height:25px;z-index:100;}
		#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right{right:0px;top:inherit;top:90px;width:40px;height:40px;z-index:100;}
		#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:20px;color:#000;}
		/*.slider-parceiros-clientes .bg_imagem {background: url(../imgs/topo_menu_hover.png);min-height: 90px;}*/
		.lista_parceiros_clientes h1 span{font-size: 20px;color: #000;font-family:"Lato Black";}
		.lista_parceiros_clientes .desc_titulo{overflow: hidden;height: 67px;}
		#carousel-example-generic-clientes .carousel-indicators {position: absolute;bottom: 10px;left: 84%;z-index: 1;height: 60px;width: 80%;padding-left: 0;margin-left: -30%;text-align: center;list-style: none;}
		.bg_imagem{position: relative;}


		.stylish-input-group .input-group-addon{
			border:0;
			border-left:0px ;
			height:50px;background:#fff;
		}
		.stylish-input-group .form-control{
			font-size:17px;
			color:#000;
			height:50px;
			width: 268px;
			border-radius:0px;
			border:0;
			border-left:1px solid #dcdcdc ;
			background:#fff;
		}
		.stylish-input-group button{
			font-size:20px;
			border:0;
			background:#fff;
		}


		.fa-phone-square:before {
			color: #4fb5d6;
		}

		.atendimento{
			position: relative;
			z-index: 1;
			margin-top: -100px;
		}

		.servicos_desc p{
			text-align: center;
			font-size: 25px;
			font-weight: 300;
		}

		.circle {
			margin: 36px;
			display: inline-block;
			padding: 16px;
			text-align: center;
			width: 215px;
			height: 215px;
			border-radius: 50%;
			border: 1px solid #000;
		}

		.circle::before,
		.circle::after {
			position: absolute;
			z-index: -1;
			display: block;
			content: '';
		}
		.circle,
		.circle::before,
		.circle::after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: all .5s;
			transition: all .5s;
		}

		.circle {
			position: relative;
			z-index: 2;
			background-color: #fff;
			border: 1px solid #000;
			color: #000;
			line-height: 105px;
			overflow: hidden;
		}

		.circle:hover a h1{
			color: #fff;
		}
		.circle::after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			-webkit-transform: scale(.5);
			transform: scale(.5);
		}
		.circle:hover::after {
			background: #92bed5;
			border-radius: 50%;
			-webkit-transform: scale(.9);
			transform: scale(.9);
		}

		.circle a {
			text-decoration: none;
			color: #000;
		}

		.bg_empresa_home{
			background: url(../imgs/bg_empresa_home.jpg)top center no-repeat;
			width: 100%;
			height: 489px;
		}

		.empresa_desc p{
			font-size: 22px;
			height: 220px;
			overflow: hidden;
		}

		.btn_empresa_home{
			margin-top: 18px;
			border: 4px solid #000;
			color: #000;
			font-size: 25px;
			font-weight: 700;
		}

		.btn_empresa_home:hover{
			opacity: .6;
			color: #000;
		}

		.dicas_geral .thumbnail {
			padding: 14px;
			-webkit-box-shadow: -2px 2px 7px 0px rgba(50, 50, 50, 0.35);
			-moz-box-shadow:    -2px 2px 7px 0px rgba(50, 50, 50, 0.35);
			box-shadow:         -2px 2px 7px 0px rgba(50, 50, 50, 0.35);
		}

		.dicas_geral h1 {
			font-size: 20px;
			font-weight: 400;
			color: #000;
		}

		.dicas_geral p{
			font-size: 15px;
		}

		.dicas_desc{
			margin-top: 15px;
			margin-bottom: 10px;
			height: 44px;
			overflow: hidden;
		}

		.desc_dicas{
			height: 60px;
			overflow: hidden;
			margin-bottom: 10px;
		}

		.dicas_geral img:hover{
			opacity: .8;
		}
		/**
		============================================
		HOME
		============================================
		*/


		/**
		============================================
		EMPRESA
		============================================
		*/
		.titulo_emp h4{
			font-weight: 700;
			font-size: 84px;
		}

		.titulo_emp h1{
			font-weight: 400;
			font-size: 40px;
		}

		.titulo_emp h3{
			font-weight: 400;
			font-size: 25px;
		}

		.desc_empresa p{
			font-size: 25px;
		}

		.bg_amarelo{
			background: #edbe03;
			min-height: 280px;
		}
		/**
		============================================
		EMPRESA
		============================================
		*/

		/**
		============================================
		DICAS
		============================================
		*/
		.dicas_Dentro h1{
			font-weight: 700;
			font-size: 30px;
		}

		.dicas_Dentro p{
			font-weight: 300;
			font-size: 25px;
		}

		/**
		============================================
		DICAS
		============================================
		*/

		/**
		============================================
		SERVIÇOS
		============================================
		*/

		.servicos h4{
			font-size: 108px;
			line-height: 70px;
		}

		.servicos h4 span{
			font-weight: 400;
			font-size: 40px;
		}

		.redes a{
			color: #000;
		}

		.redes a:hover{
			color: #2e2d2e;
		}

		.produtos_dentro_desc p{
			font-size: 25px;
		}

		.produtos_dentro_desc h1{
			font-size: 35px;
		}



		/**
		============================================
		SERVIÇOS
		============================================
		*/



		/**
		============================================
		FALE CONOSCO
		============================================
		*/
		.btn_formulario{
			border-radius: 0;
			font-size: 20px;
			color: #fff;
			padding: 15px 25px;
			background: #283239;
		}

		.btn_topo_orcamento{
			border-radius: 0;
			font-size: 15px;
			color: #fff;
			padding: 5px 15px;
			background: #002953;
		}

		.btn_formulario:hover,.btn_topo_orcamento:hover{
			background: #002248;
			color: #fff;
		}

		.fundo-form1 {
			background: none;
			border-top: 1px solid #000;
			border-bottom:  0;
			border-left: 0;
			border-right: 0;
		}

		.fundo_formulario .form-control:focus{
			border-color: #414244;
		}

		.fundo_formulario .has-feedback .form-control {
			padding-left: 40px;
		}

		.form-inline .has-feedback .form-control-feedback {
			left: 0;
		}

		.telefone_contatos h2{
			color: #002953;
		}

		.fundo_formulario h3{
			font-size: 20px;
			color: #000;
		}

		.fundo_formulario blockquote{
			padding: 2px 10px;
			margin: 0 0 0 14px;
			font-size: 30px;
			font-weight: 700;
			border-left: 9px solid #93989c;
		}

		.fundo_formulario span{
			color: #002953;
		}

		.mapa iframe{
			border: 10px solid #fff;
		}

		.telefone_contatos li a:hover{
			opacity: .9;
		}

		.menu_contatos li a.active{
			background: #002248;
			border-radius: 0;
		}

		.menu_contatos h4{
			color: #fff;
			font-size: 15px;
		}

		.menu_contatos h4 span{
			color: #fff;
			font-size: 22px;
		}

		.menu_contatos .nav-tabs>li >a{
			background-color: #93989c;
		}

		.menu_contatos .nav-tabs>li.active>a,
		.menu_contatos .nav-tabs>li.active>a:focus,
		.menu_contatos .nav-tabs>li.active>a:hover {
			cursor: default;
			opacity: 1;
			background-color: #283239;
			border: 0px solid #ddd;
			border-bottom-color: transparent;
		}

		.menu_contatos .nav-tabs>li {
			float: left;
			margin-bottom: 9px;
			width: 100%;
		}
		/**
		============================================
		FALE CONOSCO
		============================================
		*/



		/**
		============================================
		ORCAMENTOS
		============================================
		*/
		.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
		.tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
		.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #444c69;padding:10px 5px;}
		.fa-times-circle::before{
			color:#283239;
			text-shadow:-1px 2px 2px #000000;

		}
		.bg_cinza{
			background: #eaeaea;
			overflow: hidden;
		}


		.tabela_carrinho h3,.fundo_formulario h3{
			color: #000;
			font-size: 25px;
			margin-bottom: 20px;
		}

		.input-lista-prod-orcamentos {
			width: 40px;
			min-height: 36px !important;
			text-align: center;
			background: #444c69;
			color: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			font-size: 13px;
		}

		.carrinho_servcos{
			width: 46px;
			height: 32px	;
		}

		.borda .media{
			border-bottom: 1px solid #cccccc;
			padding-bottom: 14px;
			height: 79px;
			border-bottom: 1px solid #cccccc;
			padding-bottom: 14px;
			height: 79px;
		}

		.orcamento h5 span{
			font-size: 40px;
			font-weight: 400;
		}



		.borda_home .media{
			border-bottom: 1px solid #cccccc;
			padding-bottom: 14px;
			max-height: 128px;
			width: 428px;
			padding-bottom: 14px;
			max-height: 128px;
			width: 428px;
		}

		.img_home_lojas {
			width: 421px;
		}
		.img_home_lojas {
			width: 421px;
		}

		/**
		============================================
		ORCAMENTOS
		============================================
		*/


		
.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 9999;
    width: 100px;
    height: 80px;
  }