/* ============= RESET ============= */
* { margin: 0px; padding: 0px; font-size: 100%; border: none; outline: none;; font-weight: 400; box-sizing: border-box;letter-spacing: 0;}
/* ============= RESET ============= */


/* ============= FONTS ============= */
@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
}
body{font-family: 'Roboto Condensed', sans-serif;font-size: 16px;}
/* ============= FONTS ============= */


/* ============= COLUNAS ORDER ============= */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}
.col {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
.order-12 {-ms-flex-order: 12;order: 12;}
.order-1 {-ms-flex-order: 1;order: 1;}


/* ============= COLUNAS ============= */
.row::after {
  content: "";
  clear: both;
  display: flex;
}
[class*="col-"] {
  float: left;
  padding-left:  8px;
  padding-right:  8px;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* ============= COLUNAS ============= */

/* ============= OFFSET COLUNAS ============= */
.col-offset-1{margin-left: 8.33%;}
.col-offset-2{margin-left: 16.66%;}
.col-offset-3{margin-left: 25%;}
.col-offset-4{margin-left: 33.33%;}
.col-offset-5{margin-left: 41.66%;}
.col-offset-6{margin-left: 50%;}
.col-offset-7{margin-left: 58.33%;}
.col-offset-8{margin-left: 66.66%;}
.col-offset-9{margin-left: 75%;}
.col-offset-10{margin-left: 83.33%;}
.col-offset-11{margin-left: 91.66%;}
.col-offset-12{margin-left: 100%;}


.input100{width: 100%;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.clearfix{clear: both;}
.img-circle{border-radius: 50%;}
.top5{margin-top: 5px;}
.top10{margin-top: 10px;}
.top15{margin-top: 15px;}
.top20{margin-top: 20px;}
.top25{margin-top: 25px;}
.top35{margin-top: 35px;}
.top40{margin-top: 40px;}
.top45{margin-top: 45px;}
.top50{margin-top: 50px;}
.top60{margin-top: 60px;}
.top80{margin-top: 80px;}
.top170{margin-top: 170px;}


.bottom50{margin-bottom: 50px;}
.pg0{padding: 0px;}
.pg10{padding: 10px;}

.pb15{padding-bottom:  15px;}
.pt15{padding-top:   15px;}
.right10{margin-right: 10px;}


.text-uppercase {text-transform: uppercase;}
.text-capitalize{text-transform: capitalize;}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary{
  background: #283239;
  color: #fff;
}

.relativo{
  position: relative;
}
.form-control-feedback{
  position: absolute;
  top: 38px;
  left: 0.63rem /* 10/16 */;
}


h1{font-size: 1.14285714REM;} /*16px*/
h2{font-size: 1.21428571REM; color: #000; font-weight: 700;} /*17px*/
h3{font-size: 2.14285714REM;font-weight: 700;}  /*px*/

p{font-size: 1.42857143REM;font-weight: 300;color: #000;text-align: justify;}
a, a:visited{text-decoration: none;}
