/* =============== EMPRESA =============== */


.localizacao-pagina {
    height: 12.47rem;
    padding-top: 2.6rem;
}

.localizacao-pagina h1{
  color: #000;
  font-size: 40px;
  font-weight: 700;
}

.localizacao-pagina-fale h1{
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.localizacao-pagina p{
  color: #000;
  font-size: 1.14285714REM;
  font-weight: 400;
}
.localizacao-pagina h2{
  color: #000;
  font-size: 1.78571429REM;
  font-weight: 400;
}

.localizacao-pagina-dicas h1{
  color: #000;
  font-size: 3.57142857REM;
  font-weight: 700;
}

.localizacao-pagina-dicas h2{
  color: #000;
  font-size: 1.64285714REM;
  font-weight: 400;
}

.localizacao-pagina-dicas h3{
  color: #000;
  font-size:1.78571429REM;
  font-weight: 700;
}

.localizacao-pagina-dica h3 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
}

.localizacao-pagina-orcamento h1{
  color: #000;
  font-size: 3.63rem /* 58/16 */;
  font-weight: 700;
}

.localizacao-pagina-orcamento p{
  margin-top: 1.75rem /* 28/16 */;
  color: #000;
  font-size: 1.69rem /* 27/16 */;
  font-weight: 400;
}

.desc-empresa{margin-top: 0.4rem;}
.lista-dicas p{height:5.19rem; overflow: hidden;font-size: 1.07142857REM; font-weight: 400;}
.borda_dica{border-bottom: 0.01rem solid #d8d8d8;}
.lista-fornecedores{border: 0.01rem solid #000; padding: 0.13rem;}
.input-form{height: 3.19rem; background: #eeeeee; border: 0.01rem solid #000; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 7.81rem /* 125/16 */;}

.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}

/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */

.lista-produto{
  position: relative;
}

.bg-texto-produto{
  opacity:0.65;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
  background: #000;
  width: 100%;
  position: absolute;
  bottom: 0.13rem;
}

.lista-produto h2{
  opacity: initial;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}


.input-lista-prod-orcamentos{background: #e5e5e5; width: 1.88rem ; height: 1.88rem ; text-align: center;}

.tabela-orcamento tbody tr td {
  border-top:  0;
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
}

.fa-times-circle:before {
color: #f80000}

.tabela-orcamento tbody tr{
    border-bottom: 1px solid #002953;
}


.bg-index {
  background: url("./imgs/bg-index.jpg") top center no-repeat;
}

.font-index{
  margin-top: 0.27rem;
  margin-bottom: 1.6rem;
}

.clientes_emp h2{
  font-weight: 700;
  font-size: 2rem;
}

.clientes_emp a amp-img{
  width: 2.8rem;
  height: 1.15rem;
  text-align: center;
  margin-left: 0.67rem;
}

.font-index h1{
  color: #fff;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.63rem /* 10/16 */;
}

.desc-empresa p{
  font-size: 1.42857143REM;
  font-weight: 300;
}

.bg_amarelo {
    background: #edbe03;
    min-height: 3.33rem;
}


.font-index p{
  color: #fff;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.fale-home{
  padding-left: 88px;
}

.index-bg-icones {
  margin-bottom: 5px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  width: 4.38rem /* 70/16 */;
  height: 4.38rem /* 70/16 */;
  vertical-align: middle;
  display: table-cell;
}

.trabalhe-home h1{
  padding-right: 68px;
}

.servicos_desc p {
    text-align: center;
    font-size: 1.42857143REM;
    font-weight: 300;
    line-height: 1.5rem /* 24/16 */;
}

.circle {
  position: relative;
    z-index: 2;
    color: #000;
    overflow: hidden;
    line-height: 16px;
    display: inline-block;
    padding: 0.81rem 1.69rem 2.06rem 2rem;
    text-align: center;
    width: 9.13rem;
    height: 9.13rem;
    border-radius: 50%;
    border: 0.01rem solid #000;
}

.servicos_titulo {
    position: absolute;
    bottom: 1.2rem;
    right: 0px;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    height: 3rem /* 48/16 */;
}


.servicos_titulo h1{
  text-decoration: none;
  color: #000;
  font-size: 0.88rem;
  font-weight: 700;
}

.btn_empresa_home {
    margin-top: 0.24rem;
    border: 0.05rem solid #000;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
}

.descricao_tipo_produto .fa-phone-square:before {
color: #77b3d3;
}

.descricao_tipo_produto  h2 a span {
    font-size: .94rem /* 15/16 */;
    font-weight: 400;
    color: #000;
}
.descricao_tipo_produto  h2 a{
    font-size: 1.78571429REM;
    font-weight: 700;
    color: #000;
}

.atendimento_contatos h2 span{
  font-size: 1.71428571REM;
  font-weight: 400;
}

.atendimento_contatos h2{
  font-size: 1.4rem /* 40/16 */ ;
}

.btn_ligue{
  color: #fff;
  background: #283239;
  font-size: 1.06rem /* 17/16 */;
  font-weight: 700;
  border-radius: 0;
  padding: 12px;
}

.curriculo{
  padding-top: 12px;
}

.lista-produto-titulo h3{font-size: 1.56rem ;font-weight: 700;}  /*px*/

.circle amp-img {
    width: 4.63rem;
    height: 4.63rem;
}

.form_contatos .form-control-feedback {
  top: 20px;

}
