.topo{ text-align: center;padding: 0px 0px 0px 0px;}
.rodape{z-index: 999;background: #283239; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 8px 0px 0px 0px; }
.rodape a{color: #fff; text-decoration: none; font-size: 0.8525rem;}
.separador-rodape{height: 50px;}
.btn-topo{background: none; color: #000;}

.menu-mobile-principal{background: #032852;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #000;font-size: 1rem;}


.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 30px;
  }